@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import './colors.css';

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
    font-family: 'Teko', cursive;
}

body{
    background-color: var(--1);
    min-height: calc(100vh - 5rem);
    position: relative;
    padding-bottom: 5rem !important;
    display: inline-block;
    width: 100%;
}

nav{
    background-color: var(--2);

}

nav .title{
    padding: 0.75rem;
    padding-left: 0px;
    color: var(--5);
    text-decoration: none;
    display: inline-block;
}

nav .logo{
    height: 1.75rem;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
}

nav form{
    display: inline;
    float: right;
    padding-top: 0.75rem;
    padding-right: 0.75rem;
}

nav .search{
    font-family: 'Teko', cursive;
    padding: 0.25rem 0.75rem;
}

nav .search:focus{
    outline: none !important;
    border: 1px solid var(--5);
}

.heading{
    text-align: center;
    margin: 1.75rem;
}

footer{
    position: absolute;
    bottom: 0px;
    background-color: var(--2);
    width: calc(100% - 1.5rem);
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 830px) {
    footer h6 {
        display: none;
    }
    footer {
        flex-direction: column;
        /* gap: 0.5rem; */
    }
    body {
        min-height: calc(100vh - 10rem) !important;
        padding-bottom: 10rem !important;
    }
}

@media screen and (max-width:750px) {
    nav {
        display: inline-block;
        width: 100%;
    }

    nav form {
        float: none;
        display: flex;
        gap: 0.75rem;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0.75rem;
    }
}